__pycache__
.DS_Store
*SFConflict*
.idea
workspace.xml
*.launch
*.egg-info/
node_modules/
package-lock.json
Debug/
*.mp3
*.mp4
testbed/software/RobotManager/utils/sound/tts_files/index.json
*.parcel-cache/
CLAUDE.md
.claude/
software/research/
software/robots/bilbo/robot/experiment/iitl/
